Package: liblzma-doc
Source: xz-utils
Version: 5.2.4-1
Architecture: all
Maintainer: Jonathan Nieder <jrnieder@gmail.com>
Installed-Size: 85
Suggests: liblzma-dev
Section: doc
Priority: optional
Homepage: http://tukaani.org/xz/
Description: XZ-format compression library - API documentation
 This package contains a reference manual for the liblzma data
 compression library, in Doxygen-generated HTML files. The purpose
 of each struct, macro, and function in the public interface is
 explained.
